import React from "react";

import { makeBEM } from "utils";

/* eslint-disable-next-line */
export interface {{pascalCase name}}Props {}

const bem = makeBEM("{{kebabCase name}}");

export const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
  return (
    <div className={bem()}>
      <h1>Welcome to {{pascalCase name}}!</h1>
    </div>
  );
};
